.navbar {
  background-color: #ff6e14;
  padding-left: 15%;
  padding-right: 15%;
}

.navbar .menu {
  right: 15%;
  position: absolute;
}
.navbar-light .navbar-nav .nav-link {
  color: #ff6e14 !important;
  background-color: white;
  border-radius: 5%;
  padding: 6px 11px 6px 11px;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1em;
  font-weight: 700;
  margin-left: 10%;
}
.navbar-light .navbar-nav .show > .nav-link {
  color: #ff6e14;
  background-color: white;
  border-radius: 5%;
  padding: 6px 11px 6px 11px;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1em;
  font-weight: 700;
  margin-left: 10%;
}

.btn-navbar {
  background-color: white;
  color: #ff6e14;

  text-align: center;
  border-radius: 5%;
  padding: 6px 11px 6px 11px;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1em;
  font-weight: 700;
  margin-right: 10px;
}
